@import url('./variables.css');

.editor {
  border-radius: 6px;
  background-color: var(--white);
}

.editor_popup {
  margin-top: 150px;
  width: min(580px, 50%);
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.35);
}

.editor_flex-item {
  width: 100%;
  border: 1px solid var(--editor-border-idle-tint);
  border-radius: 10px;
}

.editor-footer__buttons {
  display: flex;
  gap: 10px;
}

.editor__popup-button {
  color: var(--editor-button-color);
  font-size: 13px;
  font-weight: 600;
  padding: 10px 12px;
  border-radius: 6px;
  transition: all ease-out 0.2s;
}
