@import url('./variables.css');

.editor {
  border-radius: 6px;
  background-color: var(--white);
}

.editor_popup {
  flex: 1;

  margin: 150px 40px 0 40px;
  min-width: 240px;
  max-width: 580px;
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.35);
}

.editor_flex-item {
  width: 100%;
  border: 1px solid var(--editor-border-idle-tint);
  border-radius: 10px;
}

.editor-footer__buttons {
  display: flex;
  gap: 10px;
}

.editor__popup-button {
  color: var(--editor-button-color);
  font-size: 13px;
  font-weight: 600;
  padding: 10px 12px;
  border-radius: 6px;
  transition: all ease-out 0.2s;
}

.editor__cancel-button {
  background-color: var(--editor-cancel-button-background-color);
}

.editor__cancel-button:hover {
  background-color: var(--editor-cancel-button-background-color-hover);
  color: var(--editor-cancel-button-color-hover);
}

.editor__add-task-button {
  background-color: var(--editor-add-button-background-color);
  color: var(--white);
}

.editor__add-task-button:disabled {
  background-color: var(--editor-add-button-background-color-disabled);
  cursor: not-allowed;
}

.editor__add-task-button:disabled:active {
  transform: none;
}

.editor__add-task-button:disabled:hover {
  background-color: var(--editor-add-button-background-color-disabled);
}

.editor__add-task-button:hover {
  background-color: var(--editor-add-button-background-color-hover);
}
