.project-navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-navigation__list-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 54px;
  padding: 10px;
  border-radius: 6px;
  transition: all ease-out 0.2s;
}

.project-navigation__list-title-container:hover {
  background-color: var(--sidebar-button-background-color);
  cursor: pointer;
}

.project-navigation__list-title {
  font-size: 16px;
}

.popup-navigation__buttons-container {
  display: none;
  gap: 2px;
}

.project-navigation:hover .popup-navigation__buttons-container {
  display: flex;
}

.project-navigation__open-new-project-popup-button {
  transition: transform 0.2s cubic-bezier(0.02, 1.505, 0.745, 1.235);
}

.project-navigation__open-new-project-popup-button:active {
  transform: scale(0.9);
}

.project-navigation__chevron-button {
  transition: all ease-out 0.2s;
}

.project-navigation__chevron-button_open {
  transform: rotate(90deg);
}

.project-navigation-title-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.project-navigation__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-navigation-list__item_hidden {
  display: none;
}

.project-navigation-button__container {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 100%;
}

.project-navigation-button__open-popup {
  display: none;
  background-color: var(--other-actions-popup-border-color);
  border-radius: 6px;
  width: 100%;
}

.project-navigation__button:hover .project-navigation-button__open-popup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-navigation__button:hover .project-navigation-button__task-count {
  display: none;
}

.project-navigation-button__task-count {
  color: #aaa;
  align-self: center;
}

.project-navigation-list__item.project-navigation-list__item_always_visible {
  display: flex;
}

.project-navigation__button {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  min-height: 34px;
  padding: 0;
  font-size: 15px;
}

.project-navigation-button__title {
  margin-right: auto;
  padding: 12px 0;
}

.project-navigation__button_active {
  background-color: var(--editor-add-button-background-light);
}

.project-navigation__button_active:hover {
  background-color: var(--editor-cancel-button-background-color-hover);
}

.project-navigation__button_active:hover {
  background-color: var(--editor-add-button-background-light);
}
