.project-navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-navigation__list-title {
  font-size: 16px;
}

.project-navigation__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-navigation__button {
  width: 100%;
}

.project-navigation__button_active {
  background-color: var(--task-editor-cancel-button-background-color-hover);
}

.project-navigation__button_active:hover {
  background-color: var(--task-editor-cancel-button-background-color-hover);
}
