.project-navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-navigation__list-title {
  font-size: 16px;
  padding: 15px 10px;
  border-radius: 6px;
  transition: all ease-out 0.2s;
}

.project-navigation__list-title:hover {
  background-color: var(--sidebar-button-background-color);
  cursor: pointer;
}

.project-navigation__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-navigation__button {
  width: 100%;
  padding: 15px 10px;
}

.project-navigation__button_active {
  background-color: var(--task-editor-add-button-background-light);
}

.project-navigation__button_active:hover {
  background-color: var(--task-editor-cancel-button-background-color-hover);
}

.project-navigation__button_active:hover {
  background-color: var(--task-editor-add-button-background-light);
}
