@import url('./variables.css');

.task-editor-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

.task-editor-overlay_visible {
  display: flex;
}

.task-editor {
  margin-top: 150px;
  width: min(580px, 50%);
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.35);
  border-radius: 6px;
}

.task-editor__editing-area {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid var(--task-editor-border-idle-tint);
  padding: 15px;
}

.editing-area__title {
  font-size: 20px;
  min-height: 30px;
}

.editing-area__description {
  resize: vertical;
}

.editing-area__description::placeholder,
.editing-area__due-time::placeholder {
  font-size: 13px;
}

.editing-area__title,
.editing-area__description,
.editing-area__due-time {
  border: none;
  outline: none;
}

.task-editor__popup-button {
  color: var(--task-editor-button-color);
  font-size: 13px;
  font-weight: 600;
  padding: 10px 12px;
  border-radius: 6px;
  transition: all ease-out 0.2s;
}

.task-editor__select-button {
  position: relative;
}

.task-editor__select-button_active {
  background-color: var(--task-editor-cancel-button-background-color);
}

.task-editor__select-button:hover {
  background-color: var(--task-editor-cancel-button-background-color);
}

.task-editor__footer {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.task-editor-footer__selects {
  display: flex;
  gap: 10px;
}

.task-editor-footer__buttons {
  display: flex;
  gap: 10px;
}

.choice-container {
  position: relative;
}

.choice-popup {
  display: none;
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.choice-popup_visible {
  display: flex;
  flex-direction: column;
}

.choice-popup-button {
  min-width: 120px;
}

.choice-popup-list__item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 15px;
}

.choice-popup-list__item-container:hover {
  background-color: var(--choice-popup-list__item-container);
}

.choice-popup-list__item {
  color: var(--task-editor-button-color);
  font-size: 13px;
  font-weight: 400;
  flex: 1;
}

.choice-popup-list__item-tick {
  display: none;
  color: var(--choice-popup-list__item-tick);
}

.choice-popup-list__item-tick_visible {
  display: inline;
}

.choice-popup-button__project-icon {
  position: relative;
  top: 3px;
}

.choice-popup-button__arrow-down {
  position: relative;
  top: 2px;
}

.cancel-task-edition-button {
  background-color: var(--task-editor-cancel-button-background-color);
}

.cancel-task-edition-button:hover {
  background-color: var(--task-editor-cancel-button-background-color-hover);
  color: var(--task-editor-cancel-button-color-hover);
}

.add-task-button {
  background-color: var(--task-editor-add-button-background-color);
  color: var(--white);
}

.add-task-button:hover {
  background-color: var(--task-editor-add-button-background-color-hover);
}
