@import url('./variables.css');

.task-editor__editing-area {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid var(--editor-border-idle-tint);
  padding: 15px;
}

.editing-area__title {
  font-size: 20px;
  min-height: 30px;
  font-weight: 600;
}

.editing-area__description {
  resize: vertical;
}

.editing-area__description::placeholder,
.editing-area__due-time::placeholder {
  font-size: 13px;
}

.editing-area__title,
.editing-area__description,
.editing-area__due-time {
  border: none;
  outline: none;
}

.editing-area__due-time {
  align-self: flex-start;
}

.task-editor__select-button {
  position: relative;
}

.task-editor__select-button_active {
  background-color: var(--editor-cancel-button-background-color);
}

.task-editor__select-button:hover {
  background-color: var(--editor-cancel-button-background-color);
}

.task-editor__footer {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.task-editor-footer__selects {
  display: flex;
  gap: 10px;
}

.choice-container {
  position: relative;
}

.choice-popup_visible {
  display: flex;
  flex-direction: column;
}

.choice-popup-button {
  min-width: 135px;
}

.choice-popup-list__item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 8px;
  gap: 4px;
}

.choice-popup-list__item-container:hover {
  background-color: var(--choice-popup-list__item-container);
}

.choice-popup-list__item {
  color: var(--editor-button-color);
  font-size: 13px;
  font-weight: 400;
  flex: 1;
}

.choice-popup-list__item-tick {
  display: none;
  color: var(--choice-popup-list__item-tick);
}

.choice-popup-list__item-tick_visible {
  display: inline;
}

.choice-popup-button__arrow-down {
  position: relative;
  top: 2px;
}

.cancel-task-edition-button {
  background-color: var(--editor-cancel-button-background-color);
}

.cancel-task-edition-button:hover {
  background-color: var(--editor-cancel-button-background-color-hover);
  color: var(--editor-cancel-button-color-hover);
}

.add-task-button {
  background-color: var(--editor-add-button-background-color);
  color: var(--white);
}

.add-task-button:disabled {
  background-color: var(--editor-add-button-background-color-disabled);
  cursor: not-allowed;
}

.add-task-button:disabled:active {
  transform: none;
}

.add-task-button:disabled:hover {
  background-color: var(--editor-add-button-background-color-disabled);
}

.add-task-button:hover {
  background-color: var(--editor-add-button-background-color-hover);
}
